# CMake files
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
CMakeUserPresets.json
_deps

# Project structure
/.idea
/debug
/release
/build

# Test package
/test_package/build
/test_package/CMakeUserPresets.json

# Additional scripts
update_version.py
